@inject NavigationManager NavigationManager



<div class="footer-container">
    <div class="footer-content">
        <div class="footer-section">
            <h3>SunPro  <span class="bpo">JOBS</span></h3>
            <p class="footer-tagline">Outsourcing Transformed</p>
            <p>Customized solutions.<br />Passionate culture.<br />Committed to your success.</p>
            <div class="social-icons">
                <SfButton CssClass="icon-button" IconCss="e-icons e-twitter"><i class="fab fa-twitter"></i></SfButton>
                <SfButton CssClass="icon-button" IconCss="e-icons e-facebook"><i class="fab fa-facebook-f"></i></SfButton>
                <SfButton CssClass="icon-button" IconCss="e-icons e-linkedin"><i class="fab fa-linkedin-in"></i></SfButton>
                <SfButton CssClass="icon-button" IconCss="e-icons e-youtube"><i class="fab fa-youtube"></i></SfButton>
            </div>
        </div>

        <div class="footer-section">
            <h4>Jobs by Service</h4>
            <ul>
                <li>Inbound Voice</li>
                <li>Outbound Voice</li>
                <li>Multi-channel Support</li>
                <li>Back-office Support</li>
                <li>Work-Secure Suite</li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>Jobs by Location</h4>
            <ul>
                <li>Corporate Headquarters</li>
                <li>Nairobi</li>
                <li>Carlifonia</li>
                <li>Texas New York</li>
            </ul>
        </div>

        <div class="footer-section">
            <h4>Jobs by Setup</h4>
            <ul>
                <li>Remote</li>
                <li>On-site</li>
                <li>Hybrid</li>
            </ul>

            <h4>Jobs by Employment</h4>
            <ul>
                <li>Full-Time</li>
                <li>Part-Time</li>
                <li>Contractual</li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <p>© Built In 2023</p>
        <div class="footer-links">
            <a href="#">About TBPO</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
        </div>
    </div>
</div>
